* {
    text-align: center;
    background-color: #34568B;
    color: white;
}

ul, ol {
    display: inline-block;
    border-style: solid;
    background-color: grey;
}

li {
    margin: 20px;
    padding-left: 15px;
    background-color: grey;
}

img {
    height:auto;
    width: 500px;
    text-align: center;
    border: white solid;
}

.index {
    font-size: 50px;
    background-color: grey;
}

.index * {
    background-color: grey;
}

#index-thumbnail {
    height: 150px;
    width: 150px;
}

#home-header {
    background-color: grey;
    border: white solid;
    padding: 15px;
    margin: -8px;   
}

#home-header * {
    background-color: grey;
}

#index-header {
    background-color: grey  ;
    border: white solid;
    padding: 15px;
    margin: -8px;   
}

#tall-image {
    height: 500px;
    width: auto;
    text-align: center;
    border: white solid;
}

p {
    padding: 12px;
    border: white solid;
    background-color: grey;
}

h4 {
    background-color: grey;
    font-size: 24px;
    text-align: center;
}
h3 {
    border-style: solid;
    padding: 12px;
    background-color: grey;
}

h2 {
    font-size: 32px;
}

i {
    background-color: grey;
}