* {
    text-align: center;
    background-color: #34568B;
    color: white;
}

ul, ol {
    display: inline-block;
    border-style: solid;
}

li {
    margin: 20px;
    padding-left: 15px;
}

img {
    height:auto;
    width: 500px;
    text-align: center;
}

.index {
    font-size: 50px;
}

#tall-image {
    height: 500px;
    width: auto;
}

p {
    border-style: solid;
}